.footer {
    display: block;
    padding: 15rem 0;
    background-color: $color-grey-dark-3;
    &__logo-box {
    }

    &__logo {
    }

    &__navigation {
    }

    &__list {
    }

    &__item {
    }

    &__link {
    }

    &__copyright {
    }
}
